<div class="c-card">
  <img (click)="onClick()" [src]="product.image" class="c-card__image" />
  <div class="c-card__wrapper-texts">
    <span class="o-font-f2-normal c-card__title" (click)="onClick()">
      {{ product.description }}
    </span>
    <span class="o-font-f2-normal c-card__price"> ${{ this.getPrice() }} </span>
  </div>

  <button class="c-card__delete c-delete" (click)="this.onDelete()">
    <svg-icon
      src="/assets/icons/delete.svg"
      [class]="'c-delete__icon o-icon-size-sm'"
      [applyClass]="true"></svg-icon>
    <span class="c-delete__text o-font-f2-small"> Eliminar </span>
  </button>
</div>
