.c-form {
  margin: 0 auto;
  width: 50%;
  height: 100vh;
  min-width: 320px;
  display: grid;
  align-content: space-around;
  justify-content: center;
  justify-items: center;
  &__container{
    background-color: rgb(163, 162, 162);
    position: relative;
    min-width: 320px; 
    height: 40vh;   
    border-radius: em(6);
  }
  &__upload {
    top: 0;
    position: absolute; 
    width: 100%;    
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__image{
    min-width: 320px;
    width: 30vmin;
    object-fit: scale-down;
    height: 100%; 
  }
  
}
