<form class="c-form" [formGroup]="formGroup">
  <div class="c-form__container">
    <img class="c-form__image" type="image" [src]="this.product.image" alt="" />
    <input
      class="c-form__upload"
      type="file"
      (change)="onFileSelected($event)" />
  </div>

  <div class="c-form__details">
    <span class="c-form__title o-font-f1-subtitle"> Nombre </span>
    <div class="c-bar-search">
      <input
        class="c-bar-search__input o-font-f2-normal"
        formControlName="description"
        type="text" />
      <svg-icon
        src="/assets/icons/user.svg"
        [class]="'c-bar-search__icon o-icon-size-sm'"
        [applyClass]="true"></svg-icon>
    </div>
    <span class="c-form__title o-font-f1-subtitle"> Precio </span>
    <div class="c-bar-search">
      <input
        class="c-bar-search__input o-font-f2-normal"
        formControlName="price"
        type="number"
        id="" />
      <svg-icon
        src="/assets/icons/price.svg"
        [class]="'c-bar-search__icon o-icon-size-sm'"
        [applyClass]="true"></svg-icon>
    </div>
  </div>
  <div class="c-form__buttons">
    <ng-template *ngIf="this.isTypeButtonEdit(); else addProduct">
      <button
        [disabled]="this.submitDisabledForEdit()"
        class="c-button o-font-f1-section"
        [class.disabled]="this.submitDisabledForEdit()"
        (click)="onSubmit()"
        [value]="this.typeButton">
        {{ this.typeButton }}
      </button>
    </ng-template>

    <ng-template #addProduct>
      <button
        class="c-button o-font-f1-section"
        [class.disabled]="this.submitDisabledForCreate()"
        [disabled]="this.submitDisabledForCreate()"
        (click)="onSubmit()"
        [value]="this.typeButton">
        {{ this.typeButton }}
      </button>
    </ng-template>
    <button class="c-button o-font-f1-section" (click)="onBack()" type="button">
      Volver
    </button>
  </div>
</form>
